.right-container
{
    position: absolute;
    right: 0%;
    height: 93%;
    padding: 1% 1% 1% 0%;

    overflow-y: auto;
}

.panel
{
    border: none;
    color: #606060;
}
.panel:hover
{
    text-decoration: none;
}
.panel-heading
{
    background-color: #a0a0a0;
    font-family: "Raleway";
}

.panel-heading > a
{
    color: #484848;
    text-decoration: none;
    outline: 0;

    transition: color 0.2s;
}
.panel-heading > a:hover
{
    color: #303030;
}

.panel-body
{
    border: 0px;
    background-color: #b8b8b8;
    color: #484848;
}

.word-container
{
    margin-bottom: 20px;
    font-family: "Source Sans Pro";
}
.word-title
{
    text-transform: uppercase;
    font-weight: 900;
}